body {
    background-color: #08153d;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 2em;
}

p {
    text-align: center;
    font-size: 2em;
}

#yes {
    text-align: center;
    font-size: large;
}
a {
    color: rgb(241, 202, 27);
}

h3 {
    text-align: center;
    font-size: 1.5em;
}