body {
    background-color: rgb(17, 18, 82);
    color: white;
}

h1 {
    text-align: center;
    font-size: 3rem;
}
p {
    text-align: center;
    color: beige;
    font-size: 2em;
}
a {
    font-size: large;
    color: brown;
}