<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/product_style.css">
    <title>Product Page</title>
</head>
<body>
    <div id = 'parents'>
        {% for product in products %}
        <div id = 'child'>
            <h1>{{product.product_name}}</h1>
            <img src="{{product.product_image.url}}" alt="device image">
            <a href="{% url 'product_detail' product.id %}">
                <button>
                    Show details
                </button>
            </a>
        </div>
        {% endfor %} 
    </div>
</body>
</html>